@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    background: linear-gradient(270deg, #0A2010, #256D5A, #9EDFC7, #00feba, #5b548a);
    background-size: 1000% 1000%;
    animation: gradientShift 20s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 15px;
}

.col img{
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display: none;
}

.error{
    text-align: left;
    margin: 10px 0 0 10px;
    font-size: 14px;
    color: rgb(236, 60, 11);
    display: none;
}

/* ---------------- MOBILE RESPONSIVE ---------------- */

@media (max-width: 768px) {
    .card {
        padding: 30px 25px;
        margin-top: 50px;
       
    }

    .search input {
        height: 50px;
        font-size: 16px;
        padding: 8px 20px;
      
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .weather-icon {
        width: 130px;
        margin-top: 20px;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 32px;
    }

    .details {
        flex-direction: column;
        gap: 25px;
        margin-top: 35px;
    }

    .col img {
        width: 40px;
    }

    .humidity, .wind {
        font-size: 18px;
    }
}

/* ---------------- SMALL MOBILE (450px & below) ---------------- */

@media (max-width: 450px) {
    .card {
        width: 95%;
        padding: 25px 20px;
        
    }

    .search {
        flex-direction: row;
        gap: 12px;
    }

    .search input {
        margin-right: 0;
        width: 100%;
    }

    .search button {
        width: 45px;
        height: 45px;
    }

    .weather-icon {
        width: 110px;
    }

    .weather h1 {
        font-size: 48px;
    }

    .weather h2 {
        font-size: 28px;
    }

    .details {
        margin-top: 30px;
    }

    .col {
        margin: 0;
    }
}

/* ---------------- VERY SMALL DEVICES (350px & below) ---------------- */

@media (max-width: 350px) {

    .card {
        padding: 20px 15px;
           
    }

    .search input {
        font-size: 14px;
        padding: 8px 16px;
      
    }

    .weather h1 {
        font-size: 42px;
    }

    .weather h2 {
        font-size: 24px;
    }
}
